
    <main class="ps-page--my-account">
       
        <section class="ps-section--account">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ps-section__left">
                            <aside class="ps-widget--account-dashboard">
                                <div class="ps-widget__header"><img src="http://localhost:8080/client/files/{{customer?.image}}" alt="" />
                                    <figure>
                                        <figcaption>{{customer?.username}}</figcaption>
                                        <p><a href="#"><span class="__cf_email__" data-cfemail="e3969086918d828e86a3848e828a8fcd808c8e">{{customer?.email}}</span></a></p>
                                    </figure>
                                </div>
                                <div class="ps-widget__content">
                                    <ul>
                                        <li class="active"><a routerLink="/profile"><i class="icon-user"></i> Informations</a></li>
                                        <!-- <li><a href="#"><i class="icon-alarm-ringing"></i> Notifications</a></li> -->
                                        <li><a routerLink="/invoices"><i class="icon-papers"></i> Factures</a></li>
                                        <!-- <li><a href="#"><i class="icon-map-marker"></i> Address</a></li> -->

                                        <!-- <li><a href="#"><i class="icon-store"></i> Recent Viewed Product</a></li> -->
                                        <li><a href="#"><i class="icon-heart"></i> Wishlist</a></li>
                                        <!-- <li><a href="#"><i class="icon-power-switch"></i>Se Déconnecter</a></li> -->
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="ps-section__right">
                            <form [formGroup]="profileform" class="ps-form--account-setting" >
                                <div class="ps-form__header">
                                    <h1>Informations</h1>
                                </div>
                                <div class="ps-form__content">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input class="form-control" type="text" placeholder="Saisir un nouveau Username..." formControlName="username">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Telephone</label>
                                                <input class="form-control" type="text" placeholder="Saisir un nouveau Numéro..." formControlName="telephone">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input class="form-control" type="text" placeholder="Saisir un nouveau Email..." formControlName="email">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Adresse</label>
                                                <input class="form-control" type="text" placeholder="Saisir une nouvelle Adresse..." formControlName="adresse">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Ville</label>
                                                <input class="form-control" type="text" placeholder="Saisir une nouvelle Ville..." formControlName="ville">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Code Postal</label>
                                                <input class="form-control" type="text" placeholder="Saisir un nouveau Code Postal..." formControlName="codepostal">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Pays</label>
                                                <input class="form-control" type="text" placeholder="Saisir un nouveau Pays..." formControlName="pays">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input type="file" (change)="handleFileInput($event)" name="file" class="form-control form-control-user" id="exampleRepeatPassword">
                                            
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group submit">
                                    <button class="ps-btn" (click)="updateprofile()">Mettre à jour</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="ps-newsletter">
            <div class="ps-container">
                <form class="ps-form--newsletter" action="https://nouthemes.net/html/martfury/do_action" method="post">
                    <div class="row">
                        <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-form__left">
                                <h3>Newsletter</h3>
                                <p>Subcribe to get information about products and coupons</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-form__right">
                                <div class="form-group--nest">
                                    <input class="form-control" type="email" placeholder="Email address">
                                    <button class="ps-btn">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>


