<footer class="ps-footer">
    <div class="ps-container">
        <div class="ps-footer__widgets">
            <aside class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Nous contacter</h4>
                <div class="widget_content">
                    <p>Disponible 24/7</p>
                    <h3>52 279 973</h3>
                    <p>16, Rue De La République - Sousse - Tunisie <br><a href="https://nouthemes.net/cdn-cgi/l/email-protection#d3b0bcbda7b2b0a793beb2a1a7b5a6a1aafdb0bc"><span class="__cf_email__" data-cfemail="caa9a5a4beaba9be8aa7abb8beacbfb8b3e4a9a5"></span></a></p>
                    <ul class="ps-list--social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </aside>
         
        </div>
       
        <div class="ps-footer__copyright">
            <p>&copy; 2023 TechPourTous. All Rights Reserved</p>
            <!-- <p><span>We Using Safe Payment For:</span><a href="#"><img src="assets/img/payment-method/1.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/2.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/3.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/4.jpg" alt="" /></a><a href="#"><img src="assets/img/payment-method/5.jpg" alt="" /></a></p> -->
        </div>
    </div>
  </footer>