<body>

    
    <!-- sidebars -->  
    <app-sidebar></app-sidebar>  
    <!-- ./ sidebars -->
    <!-- menu -->
    <!-- sidebar part2 -->
    <!-- ./  menu -->
    
    <!-- layout-wrapper -->
    <div class="layout-wrapper">
    
        <!-- header -->
    <app-navbar></app-navbar>
        <!-- ./ header -->
    
        <!-- content -->
        <router-outlet></router-outlet>
        <!-- ./ content -->
    
        <!-- content-footer -->
        <app-footer></app-footer>
        <!-- ./ content-footer -->
    
    </div>
    <!-- ./ layout-wrapper -->
    
    
    </body>
    