




    <!-- content -->
    <div class="content ">
        


    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="mb-5 d-flex align-items-center justify-content-between">
                        <span>Reference : {{order.reference}}</span>
                        <span class="badge bg-success">Livré</span>
                    </div>
                    <div class="row mb-5 g-4">
                        <div class="col-md-3 col-sm-6">
                            <p class="fw-bold">Date de la commande</p>
                            {{order.date}}
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <p class="fw-bold">Client</p>
                            {{order.client.username}}
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <p class="fw-bold">Email</p>
                            {{order.client.email}}
                        </div>
                        <!-- <div class="col-md-3 col-sm-6">
                            <p class="fw-bold">Contact No</p>
                            767-251-8637
                        </div> -->
                    </div>
                    <div class="row g-4">
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body d-flex flex-column gap-3">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="mb-0">Adresse de livraison</h5>
                                        <!-- <a href="#">Edit</a> -->
                                    </div>
                                    <div>{{order.client.adresse}}</div>
                                    <div>{{order.client.codepostal}}</div>
                                    <div>{{order.client.ville}}</div>
                                    <div>{{order.client.pays}}</div>
                                    <div>
                                        <i class="bi bi-telephone me-2"></i> {{order.client.telephone}}
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body d-flex flex-column gap-3">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="mb-0">Billing Address</h5>
                                        <a href="#">Edit</a>
                                    </div>
                                    <div>Name: Workplace</div>
                                    <div>Josephin Villa</div>
                                    <div>29543 South Plaza, Canada/Sydney Mines</div>
                                    <div>
                                        <i class="bi bi-telephone me-2"></i> 484-948-8535
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- <div class="card widget">
                <h5 class="card-header">Order Items</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-custom mb-0">
                            <thead>
                            <tr>
                                <th>Index</th>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Nom</th>
                                <th>Prix</th>
                               
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of order.produits let index=index">
                                <td>
                                    {{index+1}}
                                </td>
                                <td><img width="200" height="150" src="http://localhost:8080/produit/files/{{p?.image}}"></td>
                                <td>{{p?.description}}</td>
                                <td>{{p?.nom}}</td>
                                <td>{{p?.prix}}</td>
                              
                            </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div class="col-lg-4 col-md-12 mt-4 mt-lg-0">
            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="card-title mb-4">Price</h6>
                    <div class="row justify-content-center mb-3">
                        <div class="col-4 text-end">Sub Total :</div>
                        <div class="col-4">$1.520,96</div>
                    </div>
                    <div class="row justify-content-center mb-3">
                        <div class="col-4 text-end">Shipping :</div>
                        <div class="col-4">Free</div>
                    </div>
                    <div class="row justify-content-center mb-3">
                        <div class="col-4 text-end">Tax(18%) :</div>
                        <div class="col-4">$273,77</div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 text-end">
                            <strong>Total :</strong>
                        </div>
                        <div class="col-4">
                            <strong>{{order.prix}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title mb-4">Invoice</h6>
                    <div class="row justify-content-center mb-3">
                        <div class="col-6 text-end">Invoice No :</div>
                        <div class="col-6">
                            <a href="#">#5355619</a>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-3">
                        <div class="col-6 text-end">Seller GST :</div>
                        <div class="col-6">12HY87072641Z0</div>
                    </div>
                    <div class="row justify-content-center mb-3">
                        <div class="col-6 text-end">Purchase GST :</div>
                        <div class="col-6">22HG9838964Z1</div>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-outline-primary">Download PDF</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    </div>
    <!-- ./ content -->





