

    <main class="ps-page--my-account">
      
        <section class="ps-section--account">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ps-section__left">
                            <aside class="ps-widget--account-dashboard">
                                <div class="ps-widget__header"><img src="http://localhost:8080/client/files/{{customer?.image}}" alt="" />
                                    <figure>
                                        <figcaption>{{customer?.username}}</figcaption>
                                        <p><a href="#"><span class="__cf_email__" data-cfemail="e3969086918d828e86a3848e828a8fcd808c8e">{{customer?.email}}</span></a></p>
                                    </figure>
                                </div>
                                <div class="ps-widget__content">
                                    <ul>

                                        <li class="active"><a routerLink="/profile"><i class="icon-user"></i> Informations</a></li>

                                        <!-- <li><a href="#"><i class="icon-alarm-ringing"></i> Notifications</a></li> -->

                                        <li><a routerLink="/invoices"><i class="icon-papers"></i> Factures</a></li>

                                        <!-- <li><a href="#"><i class="icon-map-marker"></i> Address</a></li> -->

                                        <!-- <li><a href="#"><i class="icon-store"></i> Recent Viewed Product</a></li> -->

                                        <li><a href="#"><i class="icon-heart"></i> Wishlist</a></li>

                                        <li><a (click)="logout()" style="cursor:pointer"><i class="icon-power-switch"></i>Se déconnecter</a></li>

                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="ps-section__right">
                           
                                <!-- <div class="ps-form__header">
                                    <h3>Informations</h3>
                                </div> -->
                                <br>
                                <div class="ps-form__content">
                                    <div class="form-group">
                                        
                                        <div  type="text">
                                            <strong>Username : </strong>
                                            {{customer?.username}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div  type="text">
                                                    <strong>Telephone : </strong>
                                                    {{customer?.telephone}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div  type="text">
                                                    <strong>Email : </strong>
                                                    {{customer?.email}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div  type="text">
                                                    <strong>Adresse : </strong>
                                                    {{customer?.adresse}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div  type="text">
                                                    <strong>Ville : </strong>
                                                    {{customer?.ville}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div  type="text">
                                                    <strong>Code Postal : </strong>
                                                    {{customer?.codepostal}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div  type="text">
                                                    <strong>Pays : </strong>
                                                    {{customer?.pays}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group submit">
                                    <button class="ps-btn" routerLink="/editprofile">Mettre à jour</button>
                                </div>

                                <div class="form-group submit">
                                    <button class="ps-btn" routerLink="/changepassword">Changer mot de passe</button>
                                </div>

                                
                        </div>
                    </div>
                </div>
            </div>
        </section>




    </main>



